/* Aula 27/09/2022 - Aplicando definições em CSS - Projeto Musicalizando */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
}
 #header #menu a:hover {
    background: rgb(0, 0, 0, 0.05);
}
#logo img {
    float: left;
    height: 70px;
    width: 120px;
    position:static;
    top: 5px;
    left: 10px;
}

#header {
    width: 100%;
    position: relative; /* Adicionando Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fcec0b;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: relative;
    z-index:10 ;
    gap: 0.5rem;
    padding-top: 10px;
}

#carouselExampleInterval  img {
    height:800px;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6px;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px); /* Em px é o tamanho da Faixa do Menu */
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 25px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .embed-container {
        position: relative;
        padding-bottom: 0;
        height: 350px;
        max-width: 1000px;
        margin-top: 30px;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .embed-container iframe, .embed-container object, .embed-container embed {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        border: solid thick #ffc400;
        border-radius: 1rem;
        box-shadow: gray 0.5rem 0.5rem 0.3rem;
    }
    /* CSS Contato */

    .contato {
        width: auto;
        margin-left: 30px;
        margin-right: auto;
    }

    .form_main {
        width: 100%;
        background-color: #000000;
    }
    .form_main h4 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 20px;
        text-transform: uppercase;
        background-color: #000000;

    }
    .heading {
        border-bottom: 1px solid #ffc400;
        padding-bottom: 9px;
        position: relative;
        background-color: #000000;
    }
    .heading span {
        background: #ffee00 none repeat scroll 0 0;
        bottom: -2px;
        height: 3px;
        left: 0;
        position: absolute;
        width: 75px;
        background-color: #000000;
    }
    .form {
        border-radius: 7px;
        padding: 6px;
        background-color: #000000;
    }
    .txt[type="text"] {
        border: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px 0 10px 5px;
        width: 100%;
        background-color: #000000;
    }
    .txt_3[type="text"] {
        margin: 10px 0 0;
        padding: 10px 0 10px 5px;
        width: 100%;
        background-color: #000000;
    }
    .formbutton[type="submit"] {
        -moz-box-shadow: inset 0px 1px 0px 0px #000000;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffc400;
        box-shadow: inset 0px 1px 0px 0px #ffc400; 
        background-color: #ffc400 none repeat scroll 0 0; 
        display: inline-block;
        border: 1px solid #0782f5;
        border-radius: 25px;
        color:  rgb(255, 115, 0);
        font-size: 16px;
        font-style: normal;
        line-height: 35px;
        margin: 10px 0;
        padding: 0;
        text-transform: uppercase;
        width: 30%;
        background-color: cornsilk;
    }
    .formbutton:hover {
        background-color: orange;
        background-color: #000000;
    }
    .formbutton:active {
        position: relative;
        top: 1px;
        background-color: #000000;
    }
    .txt2:hover {
        background: #fff none repeat scroll 0 0;
        color: aquamarine;
        transition: all 0.5s ease 0s;
        background-color: #000000;
    }
    /*Inicio mapa*/
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }
}

/* css configurando Banner */

.section-banner-home {
    width: 100%;
    height: auto;
    padding: 50px;
    margin: 30px auto;
    background-color:#ffc400;
}

.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px; /* Margem interjando texto */
    color: #fff;
}

.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px; /* Margem externa abaixo do texto */
    color: #fff;
}

.section-banner-home .texto-banner a {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 4px 14px;
    font-size: 15px;
}

/* CSS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: black;
    text-decoration:none ;
    font-weight:bold;
    width: fit-content;
    background-color: moccasin;
    margin-left: 65px;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bolder;
    margin: 30px 0;
}

/* Fim CSS Destaque */

/* Início Saiba Mais */

.col-12 a {
    background-color: #ffc400;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

/* Início Css Novidades */

.novidades {
    background-color: rgb(255, 228, 251);
    padding: 50px;
    
}
.novidades .text-body {
    width: 80%;
    margin: 70px auto;    
}
.novidades h2 {
    color: #fff;
}
.novidades p {
    color: #ffee00;
}
.novidades a {
    color: black;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    padding: 6px 12px;
    background-color: antiquewhite;
    font-weight: 400;
}
/* Fim CSS novidades */
/* início CSS galeria */
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS galeria */ 
/* Início CSS Footer */

.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}

/* CSS página media.html */

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: 350px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 365px;
    border: solid thick #ffc400;
    border-radius: 1em;
    box-shadow: gray 0.5rem 0.5rem 0.3rem; 
}
/* CSS Contato */

.form_main {
    width: 100%;
    background-color: #000000;
}
.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #000000;
}
.heading {
    border-bottom: 1px solid #fcc40b;
    padding-bottom: 9px;
    position: relative;
    background-color: #000000;
}
.heading span {
    background: #ffa600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
    background-color: #000000;
}
.form {
    border-radius: 7px;
    padding: 6px;
    background-color: #000000;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
    background-color: #000000;
}
.text_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
    background-color: #000000;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #fcec0b;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffc400;
    box-shadow: inset 0px 1px 0px 0px #ffc400; 
    background-color: #ffc400 none repeat scroll 0 0; 
    display: inline-block;
    border: 1px solid #ffee00;
    border-radius: 25px;
    color: rgb(255, 115, 0);
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
    background-color: cornsilk;
}

.txt2:hover {
    background: #fff none repeat scroll 0 0;
    color: #ffc400;
    transition: all 0.5s ease 0s;
    background-color: #000000;
}
/*Fim CSS cont. */
/*Inicio mapa */

.map {
    /*min-width: 300px; min-height: 300px */
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}
.map iframe {
    width: 100%;
    right: 100%;
}
